@use './main.module.scss';
$base-spacing-unit: 24px;
$half-spacing-unit: $base-spacing-unit / 2;

$color-alpha: #1772FF;
$color-form-highlight: #EEEEEE;

.projectList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

.projectListItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  p,
  a,
  h5 {
    width: 25%;
  }
}

.container {
  max-width: 1800px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  width: 100%;
  border: 1px solid $color-form-highlight;

  .table_header {
    display: flex;
    width: 100%;
    background: #000;
    padding: ($half-spacing-unit * 1.5) 0;
  }

  .table_row {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: ($half-spacing-unit * 1.5) 0;

    &:nth-of-type(odd) {
      background: $color-form-highlight;
    }
  }

  .reject {
    color: red;
    text-decoration: none;
  }

  .approve {
    color: green;
    text-decoration: none;
  }

  .table_data,
  .header__item {
    flex: 1 1 20%;
    text-align: center;
    width: 100%;
    max-width: 10%;
  }

  .header__item {
    text-transform: uppercase;
  }

  .filter__link {
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding-left: $base-spacing-unit;
    padding-right: $base-spacing-unit;

    &::after {
      content: '';
      position: absolute;
      right: -($half-spacing-unit * 1.5);
      color: white;
      font-size: $half-spacing-unit;
      top: 50%;
      transform: translateY(-50%);
    }

    &.desc::after {
      content: '(desc)';
    }

    &.asc::after {
      content: '(asc)';
    }

  }
}